.exams-table-container {

    .exams-table-title {
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    .exams-table-content {
        display: flex;
        justify-content: center;
        margin-top: 40px;

        input {
            padding: 5px;

            &::placeholder {
                font-style: italic;
            }
        }

        form {
            width: 90%;

            table {
                .button {
                    width: auto;

                    button {
                        margin: 2px;
                    }
                }
            }
        }
    }
}