.courses-table-container {

    .courses-table-title {
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    .courses-table-content {
        display: flex;
        justify-content: center;
        margin-top: 40px;

        input {
            padding: 4px;

            &:-moz-placeholder {
                font-style: italic;
            }

            &:focus {
                outline: none;
            }
        }

        form {
            width: 90%;

            table {
                .button {
                    width: auto;

                    button {
                        margin: 2px;
                    }
                }
            }
        }
    }
}