.update-information-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .update-information-title {
        text-transform: uppercase;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        margin-top: 50px;
    }

    .update-information-content {
        margin: 75px 100px 50px 100px;
        width: auto;
        display: flex;
        flex-direction: row;

        // CSS for avatar
        .member-avatar {
            img {
                width: 190px;
            }
        }

        form {
            position: relative;
            font-size: 17px;
            margin: 0 50px;
            flex: 1;
            display: grid;
            gap: 38px;
            width: 1000px;
            padding: 20px;
            border: 1px solid black;


            label {
                display: inline-block;
                margin-right: 5px;
            }

            input {
                font-size: 16px;
                padding: 5px 5px;
            }

            li {
                list-style: none;
            }
        }

        .line-1 {
            .dob-container {
                display: inline-block;
            }

            .gender-container {
                display: inline-block;
                margin-left: 230px;

                .male,
                .female {
                    display: inline-block;

                    input {
                        margin: 0 5px;
                    }
                }

                .male {
                    margin-right: 20px;
                }
            }
        }

        .line-2 {

            .nationality-container,
            .nation-container {
                display: inline-block;
            }

            .nation-container {
                margin-left: 171px;
            }
        }

    }

    .confirm-btn {
        position: absolute;
        bottom: 0;
        right: 50px;
        transform: translate(50px, 65px);
        background-color: #3D88DE;
        border-radius: 10px;
        display: block;
        padding: 10px;
        text-decoration: none;
        color: white;
        border: none;
        font-size: 16px;

        &:hover {
            cursor: pointer;
            box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.12);
        }
    }

}