.page-container {
    display: flex;
    flex-direction: row;

    .staff-header {
        min-width: 240px;
        min-height: 900px;
        background-color: #4292EB;
    }

    .staff-body {
        width: 100%;
        min-height: 700px;
    }
}