.page-container {
    display: flex;
    flex-direction: row;
    min-height: 1000px;

    .staff-header {
        min-width: 240px;
        min-height: inherit;
        background-color: #4292EB;
    }

    .staff-body {
        width: 100%;
        min-height: 700px;
    }
}