.practice-schedule-container {
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;

    .title-container {
        text-align: center;
        margin-top: 50px;

        .practice-container-title {
            text-transform: uppercase;
            text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        }

        .practice-container-subtitle {
            margin-top: 30px;
            line-height: 30px;
        }

    }

    .practice-schedule-body {

        .practice-information {
            margin: auto;
            width: 90%;
            align-self: flex-start;
            margin-top: 50px;
            font-size: 20px;

            .practice-date-expected {
                display: flex;

                .practice-session {
                    margin-left: 10px;

                    .evening-schedule {
                        margin-top: 5px;
                    }
                }
            }

            .practice-street-verify {
                margin-top: 20px;
            }

        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin: auto;
            font-size: 20px;
            margin-top: 30px;
            text-align: center;
            border-collapse: collapse;

            table {
                width: 80%;

                th,
                td {
                    border: 1px solid black;
                    }

                    thead {
                        th {
                            padding: 10px;
                        }
                    }

                tbody {
                    td {
                        height: 100px;
                        padding: 10px;
                    }
                }
            }

            .practice-schedule-note {
                font-size: 18px;
                color: red;
                font-style: italic;
                margin-top: 20px;
                align-self: flex-start;
                text-align: left;
            }

        }
    }
}