.footer-container {
    width: 100%;
    height: inherit;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0;

    .footer-information {
        grid-column: 1;
        justify-self: center;
        color: white;

        h1 {
            padding-top: 40px;
            text-align: center;
            width: 75%;
            font-size: 30px;
            margin: auto;
        }

        ul {
            margin: auto;
            margin-top: 25px;
            padding-left: 50px;
            max-width: 460px;
        }

        li {
            line-height: 30px;
            font-size: 18px;
            list-style: none;
            text-align: left;
        }
    }

    .divine-line {
        z-index: 1;
        margin-top: 305px;
        align-self: center;
        width: 2px;
        height: 250px;
        background-color: white;
    }

    .commiting-information {
        display: flex;
        padding-top: 40px;
        grid-column: 2;
        max-width: 700px;
        align-self: center;
        justify-self: center;
        flex-direction: column;

        p {
            width: auto;
            font-size: 18px;
            color: white;
        }

        img {
            width: 80%;
            margin: auto;
            margin-top: 0;
        }
    }

}