.sidebar-container {
    .sidebar-title {
        text-align: center;
    }

    .mentor-sidebar {
        
        h1 {
            padding: 20px;
            display: inline-block;
            text-transform: uppercase;
            color: black;
            font-size: 30px;
        }

        display: flex;
        flex-direction: column;
        gap: 20px;

        li {
            list-style: none;
            margin-left: 20px;

            a {
                display: inline-block;
                padding: 8px;
                color: black;
                text-decoration: none;
            }
        }
    }

}