.course-table-container {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    /* Center vertically */
    align-items: center;

    .course-information {
        text-transform: uppercase;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    .course-table {
        font-size: 16px;
        font-weight: 500;
        padding-top: 40px;

        .course-no {
            width: 100px;
        }

        .table-title {
            height: 50px;
            line-height: 50px;
            border: 1px solid black;
            background-color: #8B0000;
            color: white;
            text-transform: uppercase;
        }

        .content-title {
            color: red;
        }

        .course-date {
            height: 230px;
            width: 170px;
        }

        .course-mem {
            width: 100px;
        }

        .course-training-content {
            width: 370px;

            li {
                padding-left: 10px;
                text-align: left;
                line-height: 50px;
                list-style: decimal;
            }
        }

        .course-training-time {
            width: 350px;

            li {
                text-align: center;
                line-height: 50px;
                list-style: none;
            }
        }

        .course-register {
            .btnRegister {
                margin: 0 17px;
                width: 100px;
                font-size: 18px;
                padding: 10px 10px;
                background-color: #ffffff;
                border: 1px solid rgba(0, 0, 0, 0.7);

                &:hover {
                    cursor: pointer;
                    color: red;
                    border: 2px solid rgba(0, 0, 0, 0.7);
                }
            }
        }
    }

    .border-receive {
        border-bottom: 1px solid black;
    }
}