.guest-nav-container {
    position: relative;
    height: 80px;
}

ul {
    max-height: 80px;
    text-align: center;
}

.guest-nav-container li {
    padding: 0 12px;
    display: inline-block;
    line-height: 79px;
    font-size: 24px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 500;

    &:hover {
        background-color: #3572b8;
        transition: ease-out 0.25s;
    }
}

.nav-items {
    display: inline-block;
    margin: 0 80px;
}

.member-avatar {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-12rem, 0.5rem);
    height: 60px;
    width: 60px;
    flex-shrink: 0;
    perspective-origin: 0;
}

.logo {
    position: absolute;
    top: -2px;
    transform: translateX(50px);
    height: 90px;
}