header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: #4292EB;
    height: 100px;
}

body {
    width: 100%;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    min-height: 100%;
}

footer {
    width: 100%;
    margin-top: 80px;
    height: 300px;
    background-color: #4292EB;
}

.toast-notify {
    margin-top: 100px;
}

.home-footer {
    margin-top: 200px;
}

.course-verification-body {
    width: 100%;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
}