.center-consultation-container {
    background-image: url(/res/imgs/consultation/trung-tam-dao-tao-lai-xe-ngoc-ha.jpg);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 100px;
    position: relative;
    margin-top: 50px;

    .text-box-list {
        list-style: none;
    }

    .text-box {
        position: relative;
        width: 200px;
        height: 20px;
        font-size: 17px;
        transform: translateX(-50%);
        left: 50%;
        right: 50%;
        margin-top: 50px;
    }

    button {
        position: relative;
        margin-top: 50px;
        background-color: #4292EB;
        width: 150px;
        height: 50px;
        color: white;
        font-size: 17px;
        font-weight: bold;
        border-radius: 15px;
        border: 0;
        transform: translateX(-50%);
        left: 50%;
        right: 50%;

        &:hover {
            box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.12);
            cursor: pointer;
        }
    }

    img {
        width: 50%;
    }
}