.teaching-schedule-container {

    h1 {
        padding-top: 50px;
        text-align: center;
        text-transform: uppercase;
        font-size: 34px;
        padding-bottom: 50px;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    .teaching-schedule {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 17px;
        background-color: #fff;
        border-collapse: collapse;
        align-items: center;
        border-spacing: 0;

        .schedule-table {
            .schedule-header-container {
                tr {
                    border-bottom: 1px solid #f0f0f0;
                    th {
                        .mini-title {
                            padding-right: 10px;
                        }

                        text-align: left;
                        padding: 5px;
                        text-transform: uppercase;
                        height: 20px;
                        background-color: #6b90da;
                        font-weight: normal;
                        border-right: 1px solid #fff;
                    }
                }
            }

            .schedule-body-container {
                .study-slot {
                    background-color: #fff;
                    border-bottom: 1px solid #f0f0f0;
                    width: 100%;

                    tr {
                        td {
                            padding: 10px;
                            border-left-width: 0px;
                            border-right-width: 0px;
                        }
                    }
                }
            }
        }

        table {
            td {
                padding: 20px;
            }
        }
    }
}