.member-information-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .member-information-content {
        width: 1300px;
        display: flex;
        flex-direction: row;

        // CSS for avatar
        .member-avatar {

            img {
                width: 150px;
            }
        }

        li {
            list-style: none;
        }

        form {
            font-size: 17px;
            margin-left: 50px;
            margin-top: 75px;
            flex: 1;
            display: grid;
            gap: 25px;

            label {
                display: inline-block;
                margin-right: 5px;
            }

            input {
                font-size: 16px;
                padding: 5px 5px;
            }
        }

        .line-1 {
            .dob-container {
                display: inline-block;
            }

            .gender-container {
                display: inline-block;
                margin-left: 260px;

                .gender-male,
                .gender-female {
                    display: inline-block;

                    input {
                        margin: 0 5px;
                    }
                }

                .gender-female {
                    padding-left: 20px;
                }
            }
        }

        .line-2 {

            .nationality-container,
            .nation-container {
                display: inline-block;
            }

            .nation-container {
                margin-left: 200px;
            }
        }

    }

}