.member-information-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;

    .member-information-content {
        width: 100%;
        display: flex;

        .member-avatar {
            justify-self: start;

            img {
                width: 100px;
            }
        }

        li {
            list-style: none;
        }
    }

}