.header-container {
    .header-title {
        text-align: center;

        h1 {
            padding: 20px;
            display: inline-block;
            text-transform: uppercase;
            color: white;
            font-size: 34px;
        }
    }

    .staff-sidebar {
        display: flex;
        flex-direction: column;
        gap: 20px;

        li {
            list-style: none;
            margin-left: 20px;

            a {
                display: block;
                padding: 8px 0;
                color: white;
                text-decoration: none;
            }
        }
    }

    .sidebar-component {
        .member-manage {
            .logout-btn {
                text-transform: uppercase;
                text-decoration: underline;

                &:hover {
                    color: red;
                }
            }
        }

        .exam-container {
            position: relative;

            a {
                padding-left: 20px;
            }

            &:hover {
                transition: transform 0.3s ease-out, position 0.3s ease-out;

                .exam-container-subnav {
                    position: relative;
                    display: block;

                    &:hover {
                        background-color: #3572B8;
                        transition: padding-left 0.3s ease-out;
                    }
                }
            }

            .exam-container-subnav {
                position: absolute;
                width: 220px;
                background-color: #4292eb;
                display: none;
            }
        }
    }

}