.information-container {
    margin-top: 100px;

    .box-container {

        width: 100%;
        display: flex;
        position: relative;
        height: auto;
        text-align: center;
        background-color: #4292EB;
        margin: auto;

        img {
            width: 50%;
            height: inherit;
        }
    }
}

.center-information-content {
    width: 50%;
    height: inherit;

    h1 {
        color: white;
        text-transform: uppercase;
        padding-top: 16px;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    p {
        color: white;
        margin-top: 12px;
        text-align: left;
        padding: 0 60px;
        line-height: 60px;
        font-size: 18px;
        font-weight: 100;
    }
}