.exam-document-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .exam-document-title {
        margin-top: 50px;
        text-transform: uppercase;
        align-self: center;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    .exam-document-form {
        margin-top: 50px;
        width: 950px;

        form {
            position: relative;
            padding: 40px;
            border: 1px solid black;
            display: grid;
            gap: 30px;

            .first-part {
                display: grid;
                justify-content: center;

                h3 {
                    margin-top: 10px;
                }

                .cross-line {
                    justify-self: center;
                    margin-top: 20px;
                    width: 70%;
                    height: 1px;
                    background-color: black;
                }
            }

            .line-1 {

                .name-container,
                .nationality-container {
                    display: inline-block;
                }

                .nationality-container {
                    margin-left: 180px;
                }
            }

            .line-2 {

                .dob-container,
                .gender-container {
                    display: inline-block;
                }

                .gender-container {
                    margin-left: 180px;
                }
            }

            .line-3 {

                .cccdDate-container,
                .cccdLocation-container {
                    display: inline-block;
                }

                .cccdLocation-container {
                    margin-left: 180px;
                }
            }

            .line-4 {

                .hasDrivingLicenseNo-container,
                .hasDrivingLicenseTier-container,
                .hasDrivingLicenseBy-container,
                .hasDrivingLicenseDate-container {
                    display: inline-block;
                }

                .hasDrivingLicenseTier-container {
                    margin-left: 20px;
                }

                .hasDrivingLicenseBy-container {
                    margin-left: 15px;
                }

                .hasDrivingLicenseDate-container {
                    margin-left: 100px;
                }
            }

            li {
                list-style: none;

                label,
                span {
                    font-size: 18px;
                }
            }

            .enclosed-document {
                transform: translateY(-25px);
                
                .enclosed-subLi {
                    li {
                        line-height: 38px;
                        margin-left: 20px;
                        font-size: 18px;
                        list-style: disc;
                    }
                }
            }

            .exam-document-commitment {
                font-size: 18px;
            }

            .second-part {
                display: flex;

                .member-img-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 200px;
                    height: 260px;
                    border: 1px solid black;

                    label {
                        font-style: italic;
                    }
                }

                .exam-demand-title {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    h2 {
                        text-align: center;
                        align-self: center;
                        width: 70%;
                    }

                    p {
                        font-size: 18px;
                        margin-top: 30px;
                        text-align: center;
                        align-self: center;
                    }
                }
            }

            .sign-container {
                line-height: 30px;
                text-align: center;
                justify-self: flex-end;
                margin-bottom: 80px;
            }
        }

        .check-result {
            display: inline-block;
            transform: translate(100px, -27px);

            .result-yes,
            .result-no {
                display: inline-block;
            }

            .result-yes {
                label {
                    margin-right: 6px;
                }
            }

            .result-no {
                padding-left: 20px;

                label {
                    margin-right: 6px;
                }
            }
        }

        .update-btn {
            position: absolute;
            bottom: 0;
            right: 50px;
            transform: translate(50px, 65px);
            background-color: #3D88DE;
            border-radius: 10px;
            display: block;
            padding: 10px;
            text-decoration: none;
            color: white;
            border: none;
            font-size: 16px;

            &:hover {
                cursor: pointer;
                box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.12);
            }
        }

        .integratedDrivingLicense {
            input {
                margin-left: 10px;
            }
        }
    }
}