.mentor-info-conatiner {
    display: flex;
    flex-direction: column;
    align-items: center;

    .main-title {
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        text-transform: uppercase;
        margin-top: 50px;
    }

    .info-content {
        width: 80%;
        margin: 75px 100px 50px 100px;
        margin-top: 50px;
        display: flex;

        .mentor-img {
            img {
                width: 190px;
            }
        }

        .mentor-info {
            width: 100%;

            table {
                position: relative;
                font-size: 17px;
                margin: 0 50px;
                flex: 1;
                display: grid;
                gap: 38px;

                padding: 20px;
                border: 1px solid black;

                label {
                    display: inline-block;
                    margin-right: 5px;
                    font-size: 18px;
                }

                span {
                    font-size: 18px;
                    padding: 5px 5px;
                }

                li {
                    font-size: 18px;
                    list-style: none;
                }
            }
        }
    }
}