.member-table-container {

    .member-table-title {
        h1 {
            text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        }
    }

    .member-table-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 70px;
    }
}