.theory-result-container {
    padding-top: 50px;

    .theory-result-title {
        .result-title {
            text-transform: uppercase;
            text-align: center;
            text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        }
    }

    .theory-result-box {
        margin-top: 100px;
        width: 85%;
        margin-left: auto;
        margin-right: auto;

        h4 {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 30px;
        }

        .explanation-box {
            margin: auto;
            width: 30%;
            height: auto;
            border: 0.1mm solid black;
            padding: 20px;

            ul {
                padding-left: 10px;
                margin: 0;

                li {
                    font-size: 18px;
                    list-style: none;
                    line-height: 200%;
                }

                span {
                    font-weight: 600;
                }
            }

            .result-pass {
                color: green;
            }

            .result-fail {
                color: red;
            }
        }
    }
}