.student-attendance-title-container {
    h1 {
        padding-top: 50px;
        text-align: center;
        text-transform: uppercase;
        font-size: 34px;
        padding-bottom: 50px;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.students-attendance-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 17px;
    background-color: #fff;
    border-collapse: collapse;
    align-items: center;
    border-spacing: 0;

    form {
        padding: 20px;
        display: grid;
        position: relative;
        grid-template-rows: 1fr;
        .attendance-table {
            td {
                padding: 20px;
            }

            .attendance-table-header {
                tr {
                    border-bottom: 1px solid #f0f0f0;

                    th {
                        text-align: left;
                        padding: 5px;
                        text-transform: uppercase;
                        height: 20px;
                        background-color: #6b90da;
                        font-weight: normal;
                        border-right: 1px solid #fff;
                    }
                }
            }

            .attendance-table-body {
                background-color: #fff;
                border-bottom: 1px solid #f0f0f0;
                width: 100%;

                tr {
                    border-bottom: 1px solid #f0f0f0;

                    td {
                        label {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }

        .submit-button {
            margin-top: 10px;
            grid-row: 2;
            width: 17%;
            justify-self: center;
            text-align: center;
            background-color: rgb(107, 144, 218);
            padding: 5px;
            border: #fff;
        }
    }

}