.container {
    .content {
        .member-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
        }

        .mentor-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
        }

        a {
            justify-self: end;
        }

        button {
            width: 80px;
        }
    }
}