.sidebar-list-item {
    position: relative;
    cursor: pointer; /* Thêm con trỏ để biểu thị rằng thẻ có thể bấm */
  
    a {
      text-decoration: none;
    }
  
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 5px; /* Độ rộng của gạch dọc */
      height: 50px; /* Chiều cao của gạch dọc */
      background-color: #fff; /* Màu của gạch dọc */
      opacity: 0;
      transition: opacity 0.3s;
    }
  
    &:hover:before,
    &.active:before {
      /* Khi thẻ được trỏ hoặc được chọn */
      opacity: 1;
    }
  }
  
  .list-header {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .list-header p {
    margin: 0; /* Loại bỏ margin mặc định của thẻ p */
  }
  