.title {
    h1 {
        padding-top: 50px;
        text-align: center;
        text-transform: uppercase;
        font-size: 34px;
        padding-bottom: 50px;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.register-form-container {
    display: flex;
    justify-content: center;
    font-size: 20px;

    .register-table-container {
        #teaching-register-form {
            padding: 20px;
            display: grid;
            position: relative;
            grid-template-rows: 1fr;

            .register-table {
                width: 100%;

                td {
                    padding: 20px;
                }

                .register-header {
                    tr {
                        border-bottom: 1px solid #f0f0f0;
                        th {
                            text-align: left;
                            padding: 5px;
                            text-transform: uppercase;
                            height: 20px;
                            background-color: #6b90da;
                            font-weight: normal;
                            border-right: 1px solid #fff;
                        }
                    }
                }

                .register-body {

                    tr {
                        border-bottom: 1px solid #f0f0f0;
                        td {
                            border-right: 1px solid #f0f0f0;
                            padding: 10px;
                            border-left-width: 0px;
                            border-right-width: 0px;
                        }
                    }
                }
            }
        }    
        
        .submit-button {
            margin-top: 10px;
            grid-row: 2;
            width: 17%;
            justify-self: last baseline;
            text-align: center;
            background-color: rgb(107, 144, 218);
            padding: 5px;
            border: #fff;
          }
            
    }
}