.course-commitment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1700px;
    margin: auto;
    margin-top: 50px;
    padding: 24px 0;

    .course-commitment-title {
        color: red;
        text-transform: uppercase;
        font-style: italic;
    }

    .commitment-content {
        margin-top: 20px;
        line-height: 200%;
        font-size: 22px;
        padding: 0 50px;
        width: 1700px;
    }
}