.header-container {
    .header-title {
        text-align: center;
        h1 {
            text-transform: uppercase;
            color: white;
            font-size: 30px;
            line-height: 60px;
        }
    }
}