.course-table-container {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    /* Center vertically */
    align-items: center;

    .course-title {
        text-transform: uppercase;
        text-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.25);
    }

    .course-information {
        text-transform: uppercase;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    .course-table {
        font-size: 16px;
        font-weight: 500;
        padding-top: 40px;

        table {
            font-size: 20px;
            border-collapse: collapse;
            text-align: center;

            th,
            td {
                border: 1px solid black;
            }
        }

        .course-no {
            width: 100px;
        }

        .table-title {
            text-align: center;
            caption-side: top;
            height: 50px;
            line-height: 50px;
            border-top: 1px solid black;
            border-right: 1px solid black;
            border-left: 1px solid black;
            background-color: #8B0000;
            color: white;
            text-transform: uppercase;
        }

        .content-title {
            color: black;

            th {
                padding: 8px;
            }

            .course-course {
                width: 200px;
            }

        }

        .course-date {
            height: 230px;
            width: 170px;
        }

        .course-mem {
            width: 150px;
        }

        .course-training-content {
            width: 370px;

            ol {
                padding: 0;
                margin-bottom: 0;
                list-style-position: inside;

                li {
                    padding-left: 10px;
                    text-align: left;
                    line-height: 50px;
                }
            }
        }

        .course-training-time {
            width: 350px;

            ol {
                padding: 0;
                margin-bottom: 0;
                list-style-position: inside;

                li {
                    text-align: center;
                    line-height: 50px;
                    list-style: none;
                }
            }
        }

        .course-register {
            .btnRegister {
                margin: 0 17px;
                width: 100px;
                font-size: 18px;
                padding: 10px 10px;
                background-color: #ffffff;
                border: 1px solid black;

                &:hover {
                    cursor: pointer;
                    color: red;
                    border: 2px solid rgba(0, 0, 0, 0.7);
                }
            }
        }
    }

    .border-receive {
        border-bottom: 1px solid black;
    }
}