.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  .rectangle-border {
    padding: 20px;
    width: 300px; // Adjust the width as needed
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .inputField {
      display: flex;
      align-items: center;
      margin: 10px 0; // Adjust the margin as needed
      border: 1.5px solid #000; // Dark border around inputField
      border-radius: 4px;
      padding: 5px;
      width: 304px;
      height: 45px;
      
      img {
        margin-right: 10px; // Adjust the margin as needed
      }
      
      input {
        border: none;
        outline: none;
        background: transparent;
        width: 100%;
      }
    }
  }
  
  .login-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    button {
      display: block; // Buttons on separate lines
      margin: 10px 0; // Adds spacing between buttons
      justify-content: center;
      align-items: center;
      
      width: 200px;
      height: 45px;
      border-radius: 5px;
      border: 1px solid #000;
      background: #1E62B6;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.30);
          p{
              color: rgba(255, 255, 255, 0.92);
              text-align: center;
              font-family: Montserrat;
              font-size: 16px;
              font-style: normal;
              font-weight: 800;
              line-height: 20px; /* 125% */
              text-transform: uppercase;
      }
    }
  }
    .forgot_password{
        p{
          color: #1E62B6;
          text-align: center;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          text-decoration-line: underline;
        }
    }
}
