.guest-nav-home-container {
    height: 100px;

    nav {
        height: auto;
    }

    ul {
        display: flex;
        height: 100px;
        justify-content: center;

        li {
            white-space: nowrap;
            list-style: none;
        }
    }

    .nav-home-items {
        display: inline-block;
        margin: auto;

        .member-home-avatar {
            height: 60px;
            width: 60px;
        }
    }

    .logo-home {
        height: 110px;

        &:hover {
            cursor: pointer;
        }
    }
}

.guest-nav-home-container li a {
    padding: 0 12px;
    display: inline-block;
    line-height: 100px;
    font-size: 22px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 500;

    &:hover {
        background-color: #3572b8;
        transition: ease-out 0.25s;
    }
}

.member-nav-home-items {
    position: relative;
    padding: 18px 18px;

    &:hover {
        #container {
            border: 1px solid black;
            width: 90%;
        }

        .subnav-function {
            display: block;
        }
    }

    .subnav-function {
        position: absolute;
        display: none;
        width: 250px;
        background-color: #4292EB;
        height: auto;
        margin-top: 18px;
        border: 1px solid black;
        transform: translateX(-120px);

        .receive-border {
            border-bottom: 1px solid black;
        }

        li {
            text-align: center;
            font-size: 24px;
            list-style: none;
            height: 60px;

            &:hover {
                cursor: pointer;
                background-color: #3572b8;

                a {
                    background-color: #3572b8;
                }
            }
        }
    }
}

.member-nav-home-items li a {
    cursor: pointer;
    color: white;
    font-size: 18px;
    border: none;
    line-height: 60px;
    padding: 0;
    display: block;
    text-transform: none;
}